body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: rgba(248, 153, 141, 0.30);
  font-size: 18px;
}

#root {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  font-size: 18px;
}

label {
  font-size: 18px;
  font-weight: 600;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 26px;
}


.stats-row {
  display: flex;
  gap: 10px;
}

.stats-row > div {
  flex: 1;
}
